:root {
    --color-dark: hsl(220deg 13% 13%);
    --color-light: white;
    --color-warning: lightcoral;
    --color-success: lightgreen;
}

/* Utils */
.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* App */
.topbar {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-dark);
}

/* Component Container */
.container {
    padding: 2em;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* Character */
.character__header {
    padding: 0 1em;
}

.character__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid var(--color-light);
    white-space: nowrap;
}

/* Attribute, Skill Lists with Controls */
.item {
    display: flex;
}

.item__label {
    min-width: 100px;
}

.item__modifier-controls {
    width: 100%;
    margin: 0 2em;
}

.item__modifier {
    margin: 0 2em;
}